@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css");

/*HEADER SECTION*/

.headerContainer {
  background-color: lightgrey;
  height: 5vw;
}

/*NavBar Section*/

.navBar {
  position: fixed;
}
/*GRID FOR BODY OF PAGE*/
.gridContainer {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
}
.leftSideGrid {
  width: 10vw;
}
.rightSideGrid {
  width: 90vw;
}

/*GRID FOR MASONRY*/
.grid {
  max-width: 90vw;
}

.grid:after {
  content: "";
  display: block;
  clear: both;
}
.grid-item {
  margin: 5px;
}

/*IMAGE SIZES*/

.originalImage {
  width: 20vw;
  heigh: auto;
}
.printImage {
  width: 20vw;
  heigh: auto;
}
.noteCardImage {
  width: 10vw;
  heigh: auto;
}
