@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css");

body {
  background-color: #454955;
}

/*HEADER SECTION*/

.headerContainer {
  background-color: lightgrey;
  height: 5vw;
}

/*NavBar Section*/

.navBar {
  position: fixed;
}
.navLink {
  text-decoration: none;
  color: black;
  line-height: 3;
  margin-left: 5px;
  font-size: 18px;
  color: #D6E3F8;
}
.navLink:hover {
  color: red;
}

.anchorLink {
  text-decoration: none;
  outline: none;
  color: #9D5C63;
  font-size: 26px;
}

/*GRID FOR BODY OF PAGE*/
.gridContainer {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
}
.leftSideGrid {
  width: 15vw;
}
.rightSideGrid {
  width: 85vw;
}

/*GRID FOR MASONRY*/
.grid {
  max-width: 85vw;
}

.grid:after {
  content: "";
  display: block;
  clear: both;
}
.grid-item {
  margin: 9px;

}
.grid-item:hover {
  transform: scale(1.03);
  transition: .5s;
  /*-webkit-box-shadow: 6px 6px 5px 0px rgba(212,210,212,1);
-moz-box-shadow: 6px 6px 5px 0px rgba(212,210,212,1);
box-shadow: 6px 6px 5px 0px rgba(212,210,212,1);*/

}

/*IMAGE SIZES*/

.originalImage {
  width: 20vw;
  heigh: auto;
}
.printImage {
  width: 15vw;
  heigh: auto;
}
.noteCardImage {
  width: 10vw;
  heigh: auto;
}



/**/

.sectionTitle {
  text-align: center;
}
